<% provide(:title, 'Contact Us') %>
<h1 class=my-4>Contact Us</h1>
<div class="jumbotron">
  <h1 class="display-4">Hello, we would like to hear from you!</h1>
  <p class="lead">You can contact us through the following: <a href="https://facebook.com">Facebook </a>,<a href="https://twitter.com">Twitter </a>,<a href="https://isntagram.com">Instagram </a> </p>
  <hr class="my-4">
</div>